* {
  box-sizing: border-box;
}
/* Scaffolding
  =============== */
  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font: normal normal normal 1rem/1.6 -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 1rem; }
  
  body {
    margin: 0;
    color: #404040;
    background: white;
    font-size: 1rem; }
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  p,
  ol,
  ul,
  dl,
  table {
    margin: 0 0 1.5rem 0; }

  ul li ul {
    margin-bottom: 0; }

  ol li ol {
    margin-bottom: 0; }

  ul {
    list-style-type: none; }

a:link,
a:visited {
  color: #222;
  text-decoration: none; }
a:hover {
  color: floralwhite;
  text-decoration: none; }
  h1,
  h2,
  h3,
  h4,
  h5 {
    margin: 0 0 1.5rem 0;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, sans-serif;
    line-height: 1.2;
    color: #404040;} 
  
  h1 {
    font-size: 2.5rem; }
  
  h2 {
    font-size: 1.5rem; }
  
  h3 {
    font-size: 1.25rem; }
  
  h4 {
    font-size: 1.1rem; }
  
  h5 {
    font-size: 1rem; }
  
/* nav
   ===*/

   nav {
    background-attachment: fixed;
    background-color: #7e4e7e;
    margin: 0;
  }
  nav * {
    margin-bottom: 0;
  }
  nav li {
    padding: 1rem 2rem;
    font-size: 1.1rem;
    color:  floralwhite;
  }
  nav li.logo a:link,
  nav li.logo a:visited,
  nav li.logo a:hover {
    font-size: 1.2rem;
    color: floralwhite;
  }
  

.hero {
  margin: 0 auto;
  padding: 100px 30px 70px 30px;
  background: #9575CD;
  color: floralwhite;
  background: url('/assets/images/shared/purple-fountain-grass1024x512.jpg');
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover; 
}
.hero h1{
  color: floralwhite;
}
/* margins
  ========*/
.mb-1 {
  margin-bottom: 1rem;
}

/* flex 
   =====*/
   .flex {
    display: flex;
    flex-wrap: wrap;
  }
  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .flex-evenly {
    display: flex;
    justify-content: space-evenly;
  }
  .flex-between {
    display: flex;
    justify-content: space-between;
  }
  .flex-right {
    display: flex;
    justify-content: flex-end;
  }
  .flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  /* band  (what bootstrap calls media)
 ======*/
.outer {
  margin: 50px 75px;
}
.band {
  display: flex;
  padding: 20px;
  margin: 30px;
}
.band img {
  width: 225px;
  height: 150px;
  flex-shrink: 0;
  /* flex: 0 0 225px; */
}
.band.shadow {
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}
.band-body {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding-left: 20px;
}




/* card
  ======= */

.card {
  margin: 20px;
  border: 1px solid #dedede; 
  max-width: 200px;
}

.card-header {
  display: flex;  
  justify-content: center;
  align-items: center;
  min-height: 8rem;
  /* padding: 0; */
}
.card-header img{
  width: 100%
}
.card-body {
  padding: 1rem; 
}
.card-title {
  font-weight: 500;
}
.card-footer {
  background-color: #a0a0a0;
  padding: 1rem;
}
.card-footer.left {
  text-align: left; }
.card-footer.center {
  text-align: center; }
.card-footer.right {
  text-align: right; }