body {
  margin: 0;
  color: #404040;
  background: white;
  font-size: 1rem;
}

a:link,
a:visited {
  color: #222;
  text-decoration: none;
}
/* nav
   ===*/

nav {
  background-attachment: fixed;
  background-color: #7e4e7e;
  margin: 0;
}
nav * {
  margin-bottom: 0;
}
nav li {
  padding: 1rem 2rem;
  font-size: 1.1rem;
  color: floralwhite;
}
nav li.logo a:link,
nav li.logo a:visited,
nav li.logo a:hover {
  font-size: 1.2rem;
  color: floralwhite;
}

.hero {
  margin: 0 auto;
  padding: 100px 30px 70px 30px;
  background: #9575cd;
  color: floralwhite;
  background: url("/assets/images/shared/purple-fountain-grass1024x512.jpg");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
/* band  (what bootstrap calls media)
 ======*/
.band {
  display: flex;
  padding: 20px;
  margin: 30px;
}
.band.shadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.fancy-button {
  border: 10px solid transparent;
  border-image: url("./shared/assets/border-diamond-lilac.png") 22 stretch;
  /* style below may be a desired alternative */
  /* border-image: url('./shared/border-diamond-lilac.png') 30 repeat; */
}
/* grid for FlowerDetails */
.gridDetailWrapper {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 300px 275px 150px;
}
.spanRows {
  grid-column: 3;
  grid-row: 1 / 4;
}
/* Cart Grid */
.cartGrid {
  display: grid;
  grid-gap: 0.3rem;
  grid-template-columns: 60px 220px 80px;
  grid-template-rows: 30px 25px 30px 25px;
}

/* quantity styles */
.minus {
  background-image: url(/assets/icons/minus.svg);
  background-position: center;
  top: 45%;
  left: 25%;
  width: 50%;
  height: 10%;
}
.plus {
  background-image: url(/assets/icons/plus.svg);
  background-position: center;
  top: 25%;
  right: 25%;
  width: 50%;
  height: 50%;
}
/* remove spinner on input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* remove spinner on input */
input[type="number"] {
  -moz-appearance: textfield;
}
