@tailwind base;

@tailwind components;

@tailwind utilities;

@responsive {
  .addedToCart {
    top: 50%;
    left: 50%;
    margin-left: -140px;
    margin-top: -232px;
    width: 280px;
    height: 454px;
  }
}
@responsive {
  .addedToCartWide {
    top: 50%;
    left: 50%;
    margin-left: -192;
    margin-top: -256px;
    width: 384px;
    height: 512px;
  }
}

@page {
  size: auto;
  margin: 2cm;
}
